<div class="contact-form-container">
    <h2>Contact</h2>

    <form (ngSubmit)="onSubmit()" #contactForm="ngForm">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" [(ngModel)]="name" required>
        <label for="name">Email</label>
        <input type="text" id="email" name="email" [(ngModel)]="email" required>
        <label for="message">Message</label>
        <textarea id="message" name="message" [(ngModel)]="message" required></textarea>
        <input type="text" id="honeypot" name="honeypot" [(ngModel)]="honeypot" class="honeypot">
        <button type="submit" [disabled]="!contactForm.form.valid">Send</button>
    </form>
    <div *ngIf="isFormSubmitted" class="confirmation-message">
        Message sent successfully!
    </div>
</div>