.container {
  position: relative;
  height: 500px;
}

a{
    color: var(--projects-link-color);
}

.project-item {
    &:hover {
      animation: glitchText 0.1s 1;
    }

    h2{
        font-size: 24px;
        letter-spacing: 8px;
        font-weight: bold;
    }
  }

.tag {
    font-weight: bold;
    font-size: 16px;
}

  @keyframes glitchText {
    2%, 64% {
      transform: translate(2px, 0);
    }
    4%, 60% {
      transform: translate(-2px, 0);
    }
    62% {
      transform: translate(0, 0);
    }
    63% {
      transform: translate(0, 2px);
    }
    65% {
      transform: translate(0, -2px);
    }
    94% {
      transform: translate(0, 0);
    }
    96%, 98% {
      transform: translate(2px, 0);
    }
    100% {
      transform: translate(0, 0);
    }
  }
