.light-theme {
  --text-color: #333;
  --background-color: #ececec;
  --content-background-color: linear-gradient(to right bottom, #ececec, #d8d5d5);;
  --border-red: #640000;
  --active-list-element: #640000;
  --contact-border: #640000;
  --contact-border-alt: #ececec;
  --contact-background: #ececec;
  --contact-button: #333;
  --contact-background-button: #ececec;
  --projects-link-color: #333;
  --icon-color: #333;
}

.dark-theme {
  --text-color: #ececec;
  --background-color: #1d1d1d;
  --content-background-color: linear-gradient(to right bottom, #1d1d1d, #141414);;
  --border-red: #ececec;
  --active-list-element: #aaaaaa;
  --contact-border: #ececec;
  --contact-border-alt: #1d1d1d;
  --contact-background: #1d1d1d;
  --contact-button: #ececec;
  --contact-background-button: #1d1d1d;
  --projects-link-color: #ececec;
  --icon-color: #ececec;
  --configtest: #635353;
  --configtest: #492929;
  --configtest: #d18888;

  
}

