<div class="content-container">
    <div id="tsparticles"></div>
    <div id="content">
        <h1 class="name">Joran Schols</h1>
        <div class="subtitle">Developer</div>
        <ul>
            <li [class.active]="selectedItem === 'home'" (click)="selectItem('home')">
                Home
            </li>
            <li [class.active]="selectedItem === 'projects'" (click)="selectItem('projects')">
                Projects
            </li>
            <li [class.active]="selectedItem === 'contact'" (click)="selectItem('contact')">
                Contact
            </li>
        </ul>
    </div>
    <div class="home-text" *ngIf="selectedItem === 'home'">
        <app-info></app-info>
    </div>
    <div class="home-text" *ngIf="selectedItem === 'contact'">
        <app-contact></app-contact>
    </div>
    <div class="carousel-wrapper" *ngIf="selectedItem === 'projects'">
        <app-projects></app-projects>
    </div>
    <div class="configs">
        <button (click)="changeConfig()">change</button>

        <button *ngFor="let themeName of themeService.themeNames" (click)="themeService.set(themeName)"
            [class.active]="themeService.activeTheme === themeName">
            {{ themeName }}
        </button>
        <div class="info">active theme: {{ themeService.activeTheme }}</div>
    </div>


</div>