.content-container {
  border: 1px solid #000000;
  padding: 30px;
  overflow: auto;
  width: auto;
  height: 85vh;
  margin: 40px;
  background-color: #ececec;
  animation: bordercolour 15s infinite;
  position: relative; 
}

#tsparticles {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 5px;
  z-index: 0;
}

#content {
  position: absolute;
  z-index: 1;
}

  @keyframes bordercolour {
    50% {border-color: #640000;}
  }
