<div class="content-container">

    <header>
        <h1>Joran Schols</h1>
        <p>Fullstack Developer</p>
    </header>

    <main>
        <section id="projects">
            <h2>Projects</h2>
        </section>

        <section id="info">
            <h2>Info</h2>
            <p>Born in 1987 in the Netherlands.</p>
            <p>Inspirerende stukje tekst.</p>
            <p>En nog veel meer super leuke coole tekst echt super leukk word dit joh.</p>
        </section>

        <section id="contact">
            <h2>Contact</h2>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Joran Schols</p>
    </footer>
</div>