.content-container {
    border: 1px solid #333;
    padding: 30px;
    overflow: auto;
    width: auto;
    height: 85vh;
    margin: 40px;
    background-color: #ececec;
    animation: bordercolour 15s infinite;
  }

  @keyframes bordercolour {
    50% {border-color: #dadada;}
  }