@import '../../../assets/styles/themes.scss';
@import '../../../assets/styles/keyframes.scss';


.content-container {
  background-color: var(--background-color);
  background-image: var(--content-background-color);
  border: 1px solid var(--border-red);
  padding: 30px;
  overflow: auto;
  width: auto;
  height: 85vh;
  margin: 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  

  .name {
    font-size: 40px;
    letter-spacing: 10px;
    animation: textAnimation 3s ease-in forwards;
    font-weight: bold;
  }
  
  .subtitle {
    font-size: 24px;
    letter-spacing: 8px;
    font-weight: bold;
    width: 100px;
  }

  .subtitle:hover{
    animation: glitchText 0.3s;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 100px 0 0 0;
    width: 100px;
    display: flex;
    flex-direction: column;
    li {
        margin-bottom: 20px;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
            animation: glitchText 0.1s 1;
        }
        &.active {
            color: var(--active-list-element);
            text-decoration: underline;
        }
    }
  }
}

#tsparticles {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 5px;
  z-index: 0;
}

#content {
  // position: absolute;
  z-index: 3;
  margin-left: 40px;
  font-size: 18px;
  letter-spacing: 4px;
  max-width: 500px;
}

.configs {
  position: absolute;
  bottom: 0px;
  left: 0;
  margin-left: 5px;
}

.text-container {
  position: absolute;
  bottom: 40px;
  right: 0;
  margin-right: 60px;
  text-align: right;
  max-width: 600px;
  font-size: 17px;
  line-height: 1.5;
  letter-spacing: 4px;
  animation: glitchHomeText 20s infinite;
  z-index: 2;
  padding:50px;
  box-shadow: 
  0 0 20px 20px var(--background-color),
  inset 0 0 20px 20px transparent;
}

.projects-container {
  position: absolute; 
  text-align: right;
  bottom: 40px;
  right: 0;
  margin-right: 60px;
  text-align: right;
  max-width: 600px;
  letter-spacing: 4px;
  line-height: 1.5;
  animation: glitchHomeText 20s infinite;
  z-index: 2;
  padding:50px;
  box-shadow: 
  0 0 20px 20px var(--background-color),
  inset 0 0 20px 20px transparent;
  overflow: auto; 
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  
  &::-webkit-scrollbar {
    width: 12px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
}

.icon-button {
  border: 0px;
  background-color: transparent;
  padding: 5px;
  margin: 10px 0px 10px 10px;
  color: var(--icon-color);
  opacity: 0.3;
}

.icon-button:hover {
  opacity: 1;
}

.icon {
  font-size: 24px;
}

@media screen and (max-width: 768px) {
  .content-container {
    margin: 20px;
    padding: 20px;
    width: auto;
    height: fit-content;
    .name {
      font-size: 24px;
    }
    .subtitle {
      font-size: 16px;
    }
    ul {
      font-size: 16px;

      display: flex;
      flex-direction: row;

      margin: 20px 0 20px 0;
      li {
        margin: 0 20px 10px 0;
      }
    }
  }

  // #tsparticles {
  //   margin: 0;
  //   display: none;
  // }

  #content {
    margin-left: 20px;
  }

  .text-container,
  .projects-container {
    text-align: left;

    position: relative;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    padding: 20px;
    max-width: auto;
    box-shadow: 
    0 0 0 0 transparent,
    inset 0 0 0 0 transparent;
  }

  .configs {
    margin-left: 0;
  }
}