<div class="content-container">
    <div id="tsparticles"></div>
    <div id="content">
        <h1 class="name">Joran Schols</h1>
        <div class="subtitle">Developer</div>
        <ul>
            <li [class.active]="selectedItem === 'home'" (click)="selectItem('home')">
                Home
            </li>
            <li [class.active]="selectedItem === 'projects'" (click)="selectItem('projects')">
                Projects
            </li>
            <li [class.active]="selectedItem === 'contact'" (click)="selectItem('contact')">
                Contact
            </li>
        </ul>
    </div>
    <div class="home-text" *ngIf="selectedItem === 'home'">
        <p>Born in 1987 in the Netherlands, I've always had a passion for computing, software, and hardware. Programming
            is not just my profession but also my hobby. As a full-stack developer, I work with languages such as C#,
            TypeScript, Python, and Rust.</p>
    </div>
    <div class="configs"><button (click)="changeConfig()">change</button></div>
</div>