@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
@import './assets/styles/themes.scss';

html{
    background-color: var(--background-color);
}

body {
    font-family: 'Courier New', monospace;
    color: var(--text-color);
    margin: 0;
    padding: 0;
}