@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

/* You can add global styles to this file, and also import other style files */
html{
    background-color: #ececec;
}

body {
font-family: 'Courier New', monospace;
margin: 0;
padding: 0;
}