@keyframes textAnimation {
    0% {
      letter-spacing: 11px;
    }
    100% {
      letter-spacing: 10px;
    }
  }
  
  @keyframes glitchText {
    2%, 64% {
      transform: translate(2px, 0);
    }
    4%, 60% {
      transform: translate(-2px, 0);
    }
    62% {
      transform: translate(0, 0);
    }
    63% {
      transform: translate(0, 2px);
    }
    65% {
      transform: translate(0, -2px);
    }
    94% {
      transform: translate(0, 0);
    }
    96%, 98% {
      transform: translate(2px, 0);
    }
    100% {
      transform: translate(0, 0);
    }
  }
  
  @keyframes glitchHomeText {
    2%, 64% {
      transform: translate(10px, 0);
    }
    4%, 60% {
      transform: translate(-8px, 0);
    }
    62% {
      transform: translate(0, 0);
    }
    63% {
      transform: translate(0, 8px);
    }
    65% {
      transform: translate(0, -8px);
    }
    94% {
      transform: translate(0, 0);
    }
    96%, 98% {
      transform: translate(10px, 0);
    }
    100% {
      transform: translate(0, 0);
    }
  }